@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
	box-sizing: border-box;	
}
body {
	font-family: 'Open Sans', sans-serif;	

}
p, li{
	font-size: 16px;
	color: #463f3f;
	line-height: 1.5em;
}
li {
	line-height: 1.7em;
}
ul  {
	list-style: none;
	padding-left: 0;
}
h2 {
	font-size: 40px;
	padding-bottom: 20px;
}
.row {
	margin-right: 0;
}
.navbar-brand {
	padding: 10px 15px;
}
.navbar-default {
	position: absolute;
	background: rgba(255, 255, 255, .5);
	border: none;
	width: 100%;
}
.navbar-default .navbar-nav>li>a {
	color: black;
	text-transform: uppercase;
	display: block;
	height: 100%;
	padding: 18px 15px;
}
.navbar-default .navbar-nav>li {
	padding: 0;	
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: black;
	background: rgba(255, 255, 255, .7);
	
}
.navbar-nav {
	float: right;
}
#navbar {
	padding: 0;	
}
#logo {
	width: 300px;
	padding: 0;
	margin-top: -5px;
}
.jumbotron-white {
	text-transform: uppercase;
	background: white;
	float: right;
	margin-top: 80px;
	margin-right: 100px;
	color: black;
	display: none;
}
.jumbotron-white h1 {
	font-size: 40px;
	margin: 12px 5px;

}
.jumbotron-black {
	float: right;
	margin-right: 100px;
	background: rgba(0, 0, 0, .5);
	display: none;
}
.jumbotron-black h2 {
	font-size: 30px;
	margin: 10px 5px;
	padding: 0;
	color: white;
}
.container {
	padding-top: 30px;
	padding-bottom: 30px;
}
#about {
	padding-top: 40px;
	padding-bottom: 40px;
}
.dark-container {
	background: #061c35;
	color: #d4d4d4;
}
.dark-container img {
	border-radius: 50%;	
	max-width: 200px;
	margin: 0 auto;

}
.dark-container p, .dark-container h3 {
	color: #d4d4d4;
	text-align: center;
}
.jumbotron {
	height: 70vh;
	width: 100%;
    background: 
    	linear-gradient(
      	rgba(0, 0, 0, 0.2), 
      	rgba(0, 0, 0, 0.2)
    	),
    	 url('img/jumbotron.jpg') fixed;
    background-size: cover;
   
}
.btn {
	background: #476d98;
	border-color: #061c35;
	float: right;
	margin: 20px 0;
	padding: 0;
}
.btn>a {
	color: white;
	display: block;
	width: 237px;
	padding: 10px 5px;
}
.btn a:hover {
	text-decoration: none;	
}
.btn:hover {
	background: #5388b7;
	border-color: #061c35;
}
i {
	padding-right: 10px;
}
#contact p {
	text-align: left;
}
footer {
	width: 100%;
	height: 100px;
	text-align: center;
}
#footer {
	border-top: 1px solid #d4d4d4;
	height: 100%;
}
#footer p {
	padding: 10px 0 20px;
	margin: 0;
}

@media (max-width: 990px) {
	#navbar {
		width: 100%;
	}
	.navbar-collapse {
		padding-right: 0;
	}
	.navbar-default .navbar-nav>li>a {
		padding: 18px 10px;
	}
}
@media (max-width: 768px) {
	img {
		margin: 0 auto;
	}
	#products .col-md-3 {
		max-width: 400px;
		margin: 0 auto;
	}
}